#forms {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
}
#analytics {
      background-color: #f2f2f2;
     /* background-image: url("sas.png");*/
      background-repeat: no-repeat;
      background-position-y: center;
}