{% import "bootstrap/wtf.html" as wtf %}
<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Form</title>
    <!-- Latest compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">

        <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static', filename='vis.min.js')}}"></script>
    <link href="{{url_for('static', filename='vis.min.css')}}" rel="stylesheet">
    <script src="{{url_for('static', filename='jquery-ui.js')}}"></script>
    <link href="{{url_for('static', filename='jquery-ui.css')}}" rel="stylesheet">
    <style>
            #custom-handle {
            width: 3em;
            height: 1.6em;
            top: 50%;
            margin-top: -.8em;
            text-align: center;
            line-height: 1.6em;
        }
    </style>
</head>
<body>
      <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="/">Population Analytics</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li  id="home"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                    <li id="dataform"><a href="{{ url_for('query') }}">Query</a></li>
                    <li id="dataform"><a href="{{ url_for('table') }}">Table</a></li>
                    <li class="active" id="dataform"><a href="{{ url_for('form') }}">Form</a></li>
                    <li id="dataform"><a href="{{ url_for('graph') }}">Graph2d</a></li>

                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

   <div class="container">

        <div class="row">
         <h2 class="demoHeaders">Query the data</h2>
          <div id="tabs">
            <ul>
              <li><a href="#tabs-1">Country </a></li>
              <li><a href="#tabs-2">Compare Countries</a></li>
              <li><a href="#tabs-3">Aggregate Country Data</a></li>
            </ul>
            <div id="tabs-1">
                    {{ wtf.quick_form(form1) }}


            </div>
            <div id="tabs-2"> {{ wtf.quick_form(form2) }}</div>
            <div id="tabs-3">{{ wtf.quick_form(form3) }} </div>
          </div> 

          <h2 class="demoHeaders">Slider</h2>
            <p>
            <label for="amount">Years Range</label>
            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
            {{country}}
            
            </p>
            
            <div id="slider-range"></div>
      </div>
<hr>
      <div class="row">
            <div id="visualization"></div>

        </div>
 </div>

<!--<script src="external/jquery/jquery.js"></script>
<script src="jquery-ui.js"></script>-->
<script>
$( "#tabs" ).tabs({active: {% if single %} 
        0
    {% elif double %} 
        1
    {% endif %}
});


// $( "#slider" ).slider({
// 	range: true,
// 	values: [ 17, 67 ]
// });
$( function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 1951,
      max: 2100,
      values: [ 1990, 2017 ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "" + ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( "" + $( "#slider-range" ).slider( "values", 0 ) +
      " - " + $( "#slider-range" ).slider( "values", 1 ) );
  } );
</script>
<script type="text/javascript">
    var container = document.getElementById('visualization');

  var items = [
       {% if single %} 
            {% for e in query1 %}
                {x: '{{e.year}}', y: {{e.gender}}, group: {{e.group}}},
            {% endfor %}
        {% elif double %} 
            {% for e in query2 %}
                {x: '{{e.year}}', y: {{e.gender}}, group: {{e.group}}},
            {% endfor %}
        {% endif %}
  ];

  var dataset = new vis.DataSet(items);
//   var options = {
//     start: '2014-06-10',
//     end: '2014-06-18'
//   };
 var groups = new vis.DataSet();
groups.add({
    id: 1,
    content: '{{country.country1}} - {{country.age}} {{country.gender}}',
    // Optional: a field 'visible'
    // Optional: a field 'className'
    // Optional: options
  })
  {% if double %} 
  groups.add({
    id: 2,
    content: '{{country.country2}} - {{country.age}} {{country.gender}}',
    // Optional: a field 'visible'
    // Optional: a field 'className'
    // Optional: options
  })
   {% endif %}


     var options = {
          start: '1951',
          end: '2100',
       
          dataAxis: {showMinorLabels: true},
          stack:false,
          barChart: {width:50, align:'center', sideBySide:true}, // align: left, center, right
          drawPoints: true,
          dataAxis: {
              icons:true
          },
          legend: true,

      };
  var graph2d = new vis.Graph2d(container, dataset, options, groups);
</script>
</body>
</html>

