{% extends "bootstrap/base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block title %}World Population Visualization{% endblock %} {% block styles %} {{super()}}
<link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
<script src="{{url_for('static', filename='jquery.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="/">Population Analytics</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active" id="home"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                    <li id="dataform"><a href="{{ url_for('query') }}">Query</a></li>
                    <li id="dataform"><a href="{{ url_for('table') }}">Table</a></li>
                    <li id="dataform"><a href="{{ url_for('form') }}">Form</a></li>
                    <li id="dataform"><a href="{{ url_for('graph') }}">Graph2d</a></li>

                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Intro Section -->

    <div class="container">

        <div class="row">
            <div class="jumbotron" id=analytics>
                <h1>Population Analytics</h1>
                <p><b>Analytics</b> is the discovery, interpretation, and communication of meaningful patterns in data. Especially 
                    valuable in areas rich with recorded information, analytics relies on the simultaneous application of statistics, 
                    computer programming and operations research to quantify performance.</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>

        </div>

        <div class="row">

        </div>

    </div>





</body>
{% endblock %}