<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Population Analytics</title>
    <!-- Latest compiled and minified CSS -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">

        <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static', filename='vis.min.js')}}"></script>
    <link href="{{url_for('static', filename='vis.min.css')}}" rel="stylesheet">
     <link href="{{url_for('static', filename='font-awesome.min.css')}}" rel="stylesheet">
    <script src="{{url_for('static', filename='jquery-ui.js')}}"></script>
    <link href="{{url_for('static', filename='jquery-ui.css')}}" rel="stylesheet">
    <style>
            #custom-handle {
            width: 3em;
            height: 1.6em;
            top: 50%;
            margin-top: -.8em;
            text-align: center;
            line-height: 1.6em;
        }
    </style>
</head>
<body>

    <!-- Navigation -->
    <!-- Navigation -->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="/">Population Analytics</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                
                <li id="dataform"><a href="{{ url_for('table') }}">Data Table</a></li>
                <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Graph <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                <li><a href="{{ url_for('country') }}">Single Country</a></li>
                                <li><a href="{{ url_for('compareCountry') }}">Compare Countries</a></li>
                                <li><a href="{{ url_for('agregateCountry') }}">Compare Countires Totals</a></li>

                                </ul>
                            </li> 
                    


                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Intro Section -->

    <div class="container">

        <div class="row">
            <div class="jumbotron" id=analytics>
                <h1>Population Analytics</h1>
                <p>This example web application displays a subset of population data for countries namely-Trinidad and Tobago, Guyana and Jamaica. The source of the data is available from the <a href="http://api.population.io/">World Population API</a>. 
For further information about this web application and other related queries you can get in touch-  <a href="https://twitter.com/varoondev"><img src="{{url_for('static', filename='Twitter.png')}}" alt="Twitter" height="42" width="42"> </a>
 <a href="https://www.facebook.com/varoon.silochan"><img src="{{url_for('static', filename='fb.png')}}" alt="Twitter" height="42" width="42"> </a>

</p>
               
            </div>

        </div>

<div class="row">
<div class="copy text-center">
					Varoon Silochan 2017 <a href="https://github.com/trinicoder/data_viz">Population Analytics (get the code!)</a>
		</div>
  </div>

    </div>





</body>
</html>
